<meta charset="utf-8">
<ion-view view-title="Account">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        User detals
      </div>
      <a class="item item-icon-left" href="#">
          <i class="icon ion-person"></i>
          <p id="username-account"></p>
      </a>
      <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          <p id="email-account"></p>
      </a>
      <a class="item item-icon-left" href="#">
          <i class="icon ion-crop"></i>
          <p>Number of crops</p>
          <span id="crops-account" class="badge badge-assertive"></span>
      </a>
      <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-location"></i>
          <p>Number of reports</p>
          <span id="reports-account" class="badge badge-assertive"></span>
      </a>

      <br><br><br>
      <div class="item item-divider">
        Application details
      </div>
      <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
          Mauricio Vidulin and Marko Polovina
      </a>
      <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          info@savemycrop.com
      </a>
      <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-telephone"></i>
          00385915279970
      </a>
    </div>
  </ion-content>
</ion-view>
